.social-links {
  text-align: center;
  margin-bottom: 20px;
}

.social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: $light;
  text-align: center;
  margin: 0 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    background-color: $smoke;
    transform: translateY(-2px);
  }

  i {
    font-size: 18px;
    color: $black;
  }
}
